* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

h2,
article p {
  margin-bottom: 10px;
}

header {
  border: 2px solid #c92a2a;
  padding: 10px;
  text-align: center;
}

main {
  flex: 1;
}


article {
  border: 2px solid #2b8a3e;
  border-radius: 3px;
  width: 75%;
  margin: 40px auto;
  padding: 20px;
}

/* .bread-link {
  border: 1px solid #364fc7;
  border-radius: 7px;
  display: inline-block;
  margin-top: 10px;
  padding: 10px;
} */

.bread-link:link,
.bread-link:visited {
  background-color: #364fc7;
  color: white;
  text-decoration: none;

  border: 1px solid #364fc7;
  border-radius: 7px;
  display: inline-block;
  /* margin: auto 20px; */
  margin-top: 10px;
  padding: 10px;

}

.bread-link:hover,
.bread-link:active {
  background-color: white;
  color: #364fc7;
}

/* GitHub link */
.github:link,
.github:visited {
  color: #343a40;
  text-decoration: underline;
}

.github:hover,
.github:active {
  font-weight: bold;
  text-decoration: none;
}

footer {
  background-color: #f8f9fa;
  height: 40px;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;

  margin-top: 70px;
}
